{% extends 'base.html' %}

{% block title %}Human Capital Example{% endblock %}

 

{% block scripts %}
<script src="{{ url_for('static', filename='js/bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/donut.js') }}"></script>
<script src="{{ url_for('static', filename='js/line.js') }}"></script>
<script src="{{ url_for('static', filename='js/filled_area.js') }}"></script>
<script src="{{ url_for('static', filename='js/sun.js') }}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bass.css') }}">
<!-- <link rel="stylesheet" href="static/css/kanji.css"> -->
{% endblock %}

{% block content %}



  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <div id="area_graph"></div>
      </div>
      <div class="col-4">
          <div id="donut"></div>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div id="table"></div>
      </div>
      <div class="col-4">
        <div id="bar"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div id="bubble"></div>
      </div>
      <div class="col-4">
        <div id="line"></div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div id="area_graph"></div>
      </div>
      <div class="col-lg-4">
        <div id="donut"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div id="table"></div>
      </div>
      <div class="col-lg-4">
        <div id="bar"></div>
      </div>
      <div class="col-lg-4">
        <div id="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>


{% endblock %}